.all-restaurants-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	z-index: 0;
	padding-top: 45px;
	height: 100%;
}

.home-review-title {
	display: flex;
	justify-content: center;
}

.home-review-title > h2 {
	font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 600;
}

.review-suggestions-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	width: 100%;
}

#card-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	list-style: none;
	width: 1150px;
	padding-top: 20px;
	padding-left: 0;
	gap: 30px;
}

.restaurant_container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 210px;
	width: 530px;
	border: 1px solid rgb(235, 235, 235);
	border-radius: 3px;
	/* position: relative; */
	margin: 0 auto;
	/* margin-top: 20px; */
	border-color: #ebebeb;
}

.restaurant-photo {
	width: 220px;
	height: 100%;
}

.restaurant-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 320px;
	height: 100%;
	padding-left: 15px;
}

.name-and-location-container {
	width: 100%;
	height: 25%;
	padding-top: 20px;
}

.restaurant-name {
	color: #2d2e2f;
	font-size: 20px;
}

/* .restaurant-name:hover {
    font-style: underline;
} */

.restaurant-recommendation-container {
	color: #2d2e2f;
	font-size: 16px;
	height: 30px;
}

/* Live Stars */

.stars-container-each0,
.stars-container-each1,
.stars-container-each2,
.stars-container-each3,
.stars-container-each4,
.stars-container-each5,
.stars-container-each6,
.stars-container-each7 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 22%;
	width: 206px;
}

.star-rating0,
.star-rating1,
.star-rating2,
.star-rating3,
.star-rating4,
.star-rating5,
.star-rating6,
.star-rating7 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* gap: 1px; */
	width: 205px;
	height: 35px;
}

.star-container-0,
.star-container-1,
.star-container-2,
.star-container-3,
.star-container-4,
.star-container-5,
.star-container-6,
.star-container-7 {
	width: 50px;
	height: 35px;
	border-radius: 6px;
}
