.search-results-page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  padding-top: 90px;
  background: white;
  z-index: -2;
}

.search-results-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 600px;
  width: 65%;
  height: 100vh;
  z-index: 0;
  padding-top: 30px;
  margin-right: 310px;
  padding-left: 0;
  padding-right: 0;
  gap: 30px;
  background: white;
  position: relative;
  /* position: sticky; */
}

.results-page-title {
  width: 100%;
  height: 100%;
  padding-left: 40px;
}

.results-page-title > h2 {
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  color: rgba(45,46,47,1);
}

#search-results-page-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  /* padding-left: 0; */
  width: 90%;
  background: white;
}

.search-results-page-restaurant-container {
  border-bottom: 1px solid rgb(235,235,235);
  width: 100%;
}

.search-results-page-restaurant-container:hover {
  box-shadow: 0px 0px .5em rgba(0, 0, 0, 0.127);
  border-radius: 5px;
}

.results-page-restaurant-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 260px;
  padding: 30px;
  border-radius: 5px;
  gap: 20px;
}

.results-restaurant-photo {
  height: 200px;
  width: 180px;
  border-radius: 5px;
}

.results-restaurant-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  gap: 3px;
}

.results-restaurant-name {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /* Number of lines you want to display */
  /* overflow: hidden */
}

.restaurant-ratings-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 0;
}

.results-big-star > img {
  height: 20px;
}

.restaurant-ratings-container > p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(45,46,47,1);
  text-align: left;
  margin-top: 3px;
  margin-bottom: 0;
}

.results-restaurant-categories-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
  gap: 10px;
  /* background: orange; */
}

.results-restaurant-categories-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background: rgb(240,240,240);
  height: 20px;
  border-radius: 5px;
}

.results-restaurant-categories-container p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: top;
  font-size: 12px;
  line-height: 12px;
  margin-top: 15px;
  color: rgb(110,112,114);
}

.results-restaurant-location {
  display: flex;
  flex-wrap: row wrap;
}

.results-restaurant-location > p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  vertical-align: top;
  font-size: 14px;
  line-height: 10px;
  margin-top: 15px;
  color: rgb(70, 70, 70);
}

.results-restaurant-review-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 30%;
  min-height:20%;
  gap: 10px;
  /* margin-top: 5px; */
}

.results-review-body {
  /* background: pink; */
  /* width: 300px; */
  height: 100%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  /* Number of lines you want to display */
  overflow: hidden;
}

.results-review-body > p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-letter-spacing: 0px;
  -moz-letter-spacing: 0px;
  -ms-letter-spacing: 0px;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(110,112,114,1);
  text-align: left;
  word-break: break-word;
}



/* Map Styling */
.search-results-map-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-width: 30%;
  height: 100%;
  /* background: rgb(220, 220, 220); */
  z-index: 0;
  right: 0;
  position: fixed;
  overflow-x: visible;
  /* box-shadow: inset 5px 0px 1.5em rgba(0, 0, 0, 0.388); */
}
.search-results-map-container > div {

  width: 100%;
  height: 90%;
}

.search-results-map {
  width: 100%;
  height: 100%;
  /* background: rgb(220, 220, 220); */
  right: 0;
  z-index: 0;

}

/*
 * Property styles in unhighlighted state.
 */
.property {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  color: #263238;
  display: flex;
  /* font-size: 14px; */
  /* gap: 15px; */
  /* height: 30px; */
  justify-content: center;
  padding: 3px;
  position: relative;
  position: relative;
  transition: all 0.3s ease-out;
  /* width: 30px; */
}

.property::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 99%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
}


.result-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  padding: 4px;
  border-radius: 50%;
  background: rgb(244,57,57);
  border: 2px solid white;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  position: relative;
  box-shadow: 0 0 7px 2px rgba(0,0,0,0.2);
}

.result-icon::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 99%;
  transform: translate(-50%, 0);
  transition: 0.3 all ease-in-out;
  width: 0;
}

.result-icon:hover {
  background: white;
  border: 2px solid rgb(244, 57, 57);
  color: rgb(244, 57, 57);
}

.result-icon:hover::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(244, 57, 57);
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 99%;
  transform: translate(-50%, 0);
  transition: 0.3 all ease-in-out;
  width: 0;
}

.result-icon:hover .highlight {
  background: white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid rgb(244, 57, 57);
  color: rgb(244, 57, 57);
}

.result-icon > p {
  margin-top: 15px;
}


.infoBox {
  position: absolute;
  background: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 15px 7px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 5;
  width: 270px;
  min-height: 260px;
  justify-content: center;
  align-items: center;
}
.infoBox::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #FFFFFF;
  content: "";
  height: 0;
  right: 2.8%;
  position: absolute;
  top: 99%;
  transform: translate(-50%, 0);
  transition: 0.3 all ease-in-out;
  width: 0;
}

.infoBoxFlipped {
  position: absolute;
  background: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 15px 7px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 5;
  width: 270px;
  min-height: 260px;
  justify-content: center;
  align-items: center;
}
.infoBoxFlipped::after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  content: "";
  height: 0;
  right: 2.8%;
  position: absolute;
  bottom: 99%;
  transform: translate(-50%, 0);
  transition: 0.3 all ease-in-out;
  width: 0;
}

.result-restaurant-map-info-card-overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 270px;
  min-width: 270px;
  background: white;
  /* position: absolute; */
  padding: 15px;
  bottom: 50%;
  border-radius: 5px;
  gap: 10px;
  z-index: 5;
}

.result-restaurant-map-info-img-overlay {
  height: 70%;
  width: 99%;
  border-radius: 5px;
}

.result-restaurant-map-info-card-overlay h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  color: rgba(45,46,47,1);
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 0;
}

.results-restaurant-map-info-rating-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 22px;
}

.results-restaurant-map-info-rating-overlay p {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height: 16px;
  color: rgba(45,46,47,1);
  margin-top: 15px;
}

#results-map-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(189,189,189);
  height: 100%;
  width: 100%;
}
