a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

input:focus {outline:none;}

h1, h2, h3, h4, h5, p, label , textarea {
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

::placeholder {
    color: rgb(155,155,155);
    line-height: 1.5
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* .function-button {
    background-color: white;
    border-top-style: hidden;
    border-bottom-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
} */

.post-button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 31%;
    padding: 0;
    height: 5rem;
    padding: 0;
}

.post-button {
    color: white;
    background-color: #DF0906;
    border: 1px solid #DF0906;
    border-radius: 5px;
    margin-top: 2rem;
    width: 12rem;
    height: 2.5em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.post-button:hover {
    background: #d32323c9;
    border: 1px solid #d32323c9;
    transition: all .8s ease-in-out;
}

.stars_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 630px;
    height: 5rem;
    border-top:  2px solid #c8c9ca;
    border-left:  2px solid #c8c9ca;
    border-right:  2px solid #c8c9ca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
    padding-left: 1.3rem;
    margin-top: 0;
}



.rating-phrase-container p{
    margin-left: .6rem;
    font-size: 14px;
    color: #6e7072!important;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35%;
    /* background-color: purple; */
    padding: 0;
}

/* .star-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 41%;
    padding: 0;
} */

.star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 45px;
    /* margin-right: .32rem; */
    padding:0;
}
/* .star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 50px;
    padding:0;
} */

.star-one, .star-two, .star-three, .star-four, .star-five {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    /* width: 2rem; */
    /* margin-right: .2rem; */
    /* margin-left: .1rem; */
    background-position: 0, -500px;
    height: 27px;
    width: 30px;
    padding: 3px;
    z-index: -1;
    /* border-right: 6px solid rgb(255, 255, 255); */
}

/* .star-rating:hover {
    background-color: purple;
} */

/* .star-container#s1 {
    background-color: #FFCB4B;
}
.star-container#s2 {
    background-color: #FFA448;
}
.star-container#s3 {
    background-color: #FF7E42;
}
.star-container#s4 {
    background-color: #FF523D;
}
.star-container#s5 {
    background-color: #F43939;
} */


.zero-star {
    background-color: #EBEBEC;
    border: 1px solid #EBEBEC;
}

.starz-one {
    background-color: #FFCB4B;
    border: 1px solid #FFCB4B;

}

.starz-two {
    background-color: #FFA448;
    border: 1px solid #FFA448;

}

.starz-three {
    background-color: #FF7E42;
    border: 1px solid #FF7E42;

}

.starz-four {
    background-color: #FF523D;
    border: 1px solid #FF523D;

}

.starz-five {
    background-color: #F43939;
    border: 1px solid #F43939;

}



.textarea-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.review_body{
    width: 40em;
    height: 10em;
}

.post-button-container {
    display: flex;
    justify-content: center;
    margin-right: 27em;
}
