a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
