.login_form_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;

}

.login_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 700px;
    width: 500px;
}
    .login_left form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login_left .login_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .login_left .login_header{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
        }

        .login_left h2  {
            font-size: 22px;
            color: #d32323;
        }

    .login_left .login_signup {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
        .login_signup h4 {
            color: rgb(51,51,51);
        }

        .login_signup a {
            color: rgb(0,115,187);
        }

            .login_signup a:hover {
                text-decoration: underline;
            }

    .login_left .login_disclaimer {
        display: flex;
        width: 80%;
        height: 45px;
        align-items: center;
        text-align: center;
    }

        .login_disclaimer p {
            font-size: 12px;
            color: rgb(51,51,51);

        }

        .login_disclaimer a {
            color: rgb(0,115,187);
        }

        .login_disclaimer a:hover {
            text-decoration: underline;
        }

    .login_left .demo_login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        height: 50px;
        border-radius: 3px;
        border: 1px solid rgb(24,119,242);
        background-color: rgb(24,119,242);
        width: 60%;
    }

        .demo_login:hover {
            cursor: pointer;
            border: 1px solid rgb(81, 151, 243);;
            background-color: rgb(81, 151, 243);
            transition: all .5s ease;
        }

        .demo_login h4 {
            color: white;
            font-size: 18px;
        }

    .login_left .login_divider {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        height: 0%;
        width: 55%;
        border-top: 1px solid #ccc;
        border-bottom-style: none;
        border-left-style: none;
        border-right-style: none;
        margin-top: 28px;
        color: rgb(102, 102, 102);
    }

        .login_divider legend {
            padding-left: 15px;
            padding-right: 15px;
        }

    .login_left .login_email {
        width: 57%;
        height: 28px;
        padding-left: 10px;
        border: 1px solid rgb(153,153,153);
        border-radius: 3px;
    }

    .login_left .login_password {
        margin-top: 12px;
        width: 57%;
        height: 28px;
        padding-left: 10px;
        border: 1px solid rgb(153,153,153);
        border-radius: 3px;
    }

    .login_left .login_button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        color: white;
        background-color: #d32323;
        border: 1px solid #d32323;
        border-style: none;
        border-radius: 3px;
        width: 60%;
        height: 40px;
        margin-top: 30px;
    }

        .login_button:hover {
            background: #d32323c9;
            border: 1px solid #d32323c9;
            transition: all .5s ease;
            cursor: pointer;
        }

    .login_left .signup_redirect {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: flex-end;
        font-size: 12px;
    }
        .signup_redirect p {
            color: rgb(158,158,158);
        }

        .signup_redirect a {
            color: rgb(13,122,190);
        }

.login_right {
    background-color: purple;
    height: 700px;
    width: 500px;
}
