.restaurant_page_container {
    height: 50em;
    width: auto;
}
.restaurant_picture {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 30em;
    width: auto;
}

.restaurant-name-and-location-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.728);
}

.restaurant-name-container {
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 7em;
    width: 45em;
}

.restaurant-title{
    font-size: 36px;
    text-align: left;
    padding-left: 1.25em;
    width: 100%;
}

.restaurant-location-container {
    height: 2em;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 2em;
}

.restaurant-location{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.reviews_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.review-button{
    color: white;
    background-color: rgb(244,57,57,1);
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-top-style: hidden;
    margin-top: 2em;
    margin-left: 1em;
    width: 12em;
    height: 3.5em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.review-list{
    list-style: none;

    width: 10em;
    font-size: 16px;
}
