.restaurant_page_container {
	height: 100vh;
	width: auto;
}
.restaurant_picture {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
}

.picture-holder {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 32rem;
	width: 100vw;
}

.restaurant-name-and-location-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 54rem;
	height: 75%;
	padding-bottom: 1.5rem;
	padding-left: 1.5rem;
}

.restaurant-name-container {
	display: flex;
	justify-content: flex-start;
	color: white;
	min-height: 70px;
	width: 100%;
}

.restaurant-title {
	font-size: 48px;
	text-align: left;
	font-weight: 700;
	font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 100%;
}

.restaurant-sub-rating-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	min-height: 3em;
	width: 80%;
	gap: 10px;
}

.restaurant-sub-rating-divider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
}

.circle-check {
	color: rgb(51, 150, 255);
}

.claimed {
	color: rgb(51, 150, 255);
	font-size: 16px;
	font-weight: 700px;
	font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-top: 0.5rem;
}

.restaurant-price-divider {
	display: flex;
	align-items: center;
	height: 100%;
	width: 9px;
	color: white;
	font-size: 6px;
}

.restaurant-price-container {
	font-size: 16px;
	color: white;
	font-weight: 600px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.restaurant-categories {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 700px;
	color: white;
	font-family: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
	margin-top: 0.5rem;
	width: auto;
	margin-right: 10px;
	padding-bottom: 3px;
	height: 100%;
	/* background: orange; */
}

.restaurant-info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 7.5rem;
	width: 100%;
}
.restaurant-upper-mid {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	border-bottom: 1px solid rgb(235, 235, 235);
	width: max(800px);
}

.review-button {
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgb(223, 9, 6);
	border: 1px solid rgb(223, 9, 6);
	border-radius: 5px;
	border-left-style: hidden;
	border-right-style: hidden;
	border-bottom-style: hidden;
	border-top-style: hidden;
	/* margin-top: 2em; */
	/* margin-left: 1em; */
	width: 10.5em;
	height: 3em;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.review-button:hover {
	background: rgb(236, 31, 31);
	border: 1px solid rgb(236, 31, 31);
	transition: all 0.6s ease;
}

.phone-number-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	width: 400px;
}

.phone-number-container span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 82%;
	border-top: 1px solid rgb(235, 235, 235);
	border-bottom: 1px solid rgb(235, 235, 235);
	padding-top: 15px;
}

.phone-number-container p {
	font-size: 16px;
	font-weight: 700;
	color: rgba(45, 46, 47, 1);
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.restaurant-mid {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.location-and-hours {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 30rem;
	min-width: 800px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.lh-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 18%;
	width: 100%;
}

.lh-title h4 {
	color: #2d2e2f;
	font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
}

.lh-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}

.lh-location-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 82%;
	width: 45%;
}
.lh-container #map {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 100%;
	/* border: 1px solid black;
	background: orange; */
}

#restaurant-map-container {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

.lh-container #address {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 100%;
}

#address-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 3px;
	width: 50%;
	height: 100%;
	padding-top: 30px;
}

#address-street {
	display: flex;
	flex-direction: flex-wrap;
	justify-content: flex-start;
	align-items: flex-start;
	height: 20px;
	width: 100%;
}

#address-street > p {
	color: rgba(2, 122, 151, 1);
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
}

#address-other {
	display: flex;
	flex-direction: flex-wrap;
	justify-content: center;
	align-items: center;
	/* height: 25px; */
	gap: 3px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#address-others p {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#address-right {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	padding-top: 25px;
}
#address-right #direction-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 97%;
	font-size: 16px;
	font-weight: 500;
	border: 1px solid rgb(235, 235, 235);
	color: rgba(45, 46, 47, 1);
	background-color: transparent;
	border-radius: 5px;
	padding-top: 12px;
}

#address-right #direction-button:hover {
	background-color: rgb(230, 230, 230);
	transition: all 0.8s;
}

.lh-right {
	display: flex;
	flex-direction: row;
	width: 55%;
	height: 100%;
}

.lh-hours-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}

.business-hours-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	/* width: 300px; */
	min-height: 30px;
	/* gap: 10px; */
	/* z-index: 2; */
}

.day-container {
	width: 30px;
}

.day-container > p {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.hour-container {
	width: 150px;
	margin-left: 30px;
	margin-right: 20px;
}

.hour-container {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.is-business-open {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90px;
	height: 100%;
}

.is-business-open #open-now {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgba(0, 128, 85, 1);
}

.is-business-open #closed-now {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: rgba(224, 7, 7, 1);
}

.edit-info-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 20%;
	margin-bottom: 2rem;
	/* background: rgb(132, 96, 30); */
}
.edit-link {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.edit-link #pencil {
	margin-right: 1rem;
}
.edit-link p {
	color: #027a97;
	font-weight: 700;
}
.edit-link p:hover {
	color: #027a97;
	text-decoration-line: underline;
}

.edit-info-container button {
	background-color: transparent;
	height: 60%;
	width: 10rem;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid rgb(235, 235, 235);
}

.edit-info-container button:hover {
	color: white;
	background: #d32323c9;
	border: 1px solid #d32323c9;
	font-weight: 700;
	transition: all 0.8s ease;
}

.reviews_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max(800px);
	gap: 20px;
}

.reviews-title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgb(235, 235, 235);
}

.reviews-title h3 {
	font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: rgba(45, 46, 47, 1);
}

.reviews-display-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 270px;
	width: 800px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(235, 235, 235);
	margin-bottom: 20px;
	margin-top: 0;
}

.rdc-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	width: 40%;
	/* background: rgb(176, 121, 176); */
}

.rdc-left #overall-rating {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0px;
	line-height: 20px;
	color: rgb(45, 46, 47);
}

.rdc-left #amount-of-reviews {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 24px;
	margin-top: 10px;
}

.rdc-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 60%;
}

.right-labels {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 80%;
	width: 15%;
	gap: 18px;
}

.right-labels > div {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 24px;
	width: 100%;
}

.right-labels > p {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	/* line-height: 20px; */
	color: rgb(45, 46, 47);
	/* text-align: center; */
}

.reviews-animated-bar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	height: 80%;
	width: 85%;
	/* background: rgb(96, 121, 96); */
}

.animated-bar-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 12px;
	width: 410px;
	background: rgb(240, 240, 240);
	border-radius: 20px;
	border: 2px solid rgb(240, 240, 240);
	/* border-right: 2px solid rgb(240, 240, 240); */
	padding: 0;
	overflow: hidden;
}

/* .animated-bar-front {
	height: 100%;
	width: 2%;
	background: rgb(240,240,240);
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
} */

#animated-bar1 {
	background: rgb(255, 204, 75);
	border: 2px solid rgb(255, 204, 75);
	height: 12px;
	max-width: 405px;
	border-radius: 20px;
	position: absolute;
	transition: 2s linear;
	width: 0;
	opacity: 0;
}
#animated-bar2{
	background: rgb(255, 173, 72);
	border: 2px solid rgb(255, 173, 72);
	height: 12px;
	max-width: 405px;
	border-radius: 20px;
	position: absolute;
	transition: 2s linear;
	width: 0;
	opacity: 0;
}
#animated-bar3{
	background: rgb(254, 135, 66);
	border: 2px solid rgb(254, 135, 66);
	height: 12px;
	max-width: 405px;
	border-radius: 20px;
	position: absolute;
	transition: 2s linear;
	width: 0;
	opacity: 0;
}
#animated-bar4{
	background: rgb(255, 100, 61);
	border: 2px solid rgb(255, 100, 61);
	height: 12px;
	max-width: 405px;
	border-radius: 20px;
	position: absolute;
	transition: 2s linear;
	width: 0;
}
#animated-bar5{
	background: rgb(251, 80, 59);
	border: 2px solid rgb(251, 80, 59);
	height: 12px;
	max-width: 405px;
	border-radius: 20px;
	position: absolute;
	transition: 2s linear;
	width: 0;
}

#animated-bar1::after {
	content: '';
	background: rgb(255, 204, 75);
	border: 2px solid rgb(255, 204, 75);
	height: 100%;
	width: 0;
	border-radius: 20px;
	position: absolute;
	animation: progress linear forwards;
}

#animated-bar2::after {
	content: '';
	background: rgb(255, 173, 72);
	border: 2px solid rgb(255, 173, 72);
	height: 100%;
	width: 0;
	border-radius: 20px;
	position: absolute;
	animation: progress linear forwards;
}

#animated-bar3::after {
	content: '';
	background: rgb(254, 135, 66);
	border: 2px solid rgb(254, 135, 66);
	height: 100%;
	width: 0;
	border-radius: 20px;
	position: absolute;
	animation: progress linear forwards;
}

#animated-bar4::after {
	content: '';
	background: rgb(255, 100, 61);
	border: 2px solid rgb(255, 100, 61);
	height: 100%;
	width: 0;
	border-radius: 20px;
	position: absolute;
	animation: progress linear forwards;
}

#animated-bar5::after {
	content: '';
	background: rgb(251, 80, 59);
	border: 2px solid rgb(251, 80, 59);
	height: 100%;
	width: 0;
	border-radius: 20px;
	position: absolute;
	animation: progress linear forwards;
}

@keyframes progress {
	100% {
		width: 100%;
	}
}

/* .animated-bar-back {
	height: 100%;
	width: 2%;
	background: rgb(240,240,240);
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
} */

.review-card-main {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.review-card-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding: 0;
	/* z-index: 1; */
	gap: 30px;
}

.review-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	list-style: none;
	min-height: 10rem;
	width: 60%;
	font-size: 16px;
	gap: 10px;
	/* margin-right: 2rem; */
	/* border-bottom: 1px solid black; */
	/* z-index: 1; */
}

.review-card-upper {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-start; */
	align-items: flex-start;
	justify-content: flex-start;
	height: 30%;
	width: 100%;
	gap: 15px;
	/* z-index: 1; */
}

.review-card-upper #user-avatar {
	display: flex;
	align-items: center;
	/* /* width: 50%; */

	padding-left: 0;
	font-size: 14rem;
	/* color: rgb(194, 194, 194); */
	padding: 0;
	/* width: 4rem; */
	/* z-index: 1; */
}

#user-avatar > img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.review-card-upper #user-name {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 0rem;
	padding-bottom: 0;
	/* margin-left: 1rem; */
	/* width: 8rem; */
	/* z-index: 1; */
}

#user-name > h4 {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #2d2e2f;
	font-weight: 600;
}

#user-name > p {
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(45,46,47,1);
}

.review-card-lower {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	gap: 10px;
	padding-top: 10px;
	min-height: 140px;
	/* position: static; */
	/* position: relative; */
	/* z-index: 1; */
}

.small-star-img {
	height: 20px;
}

.star-rating-date {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	height: 30px;
	width: 200px;
}

.star-rating-date > p {
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(110,112,114,1);
	margin-top: 3px;
}

.review-container {
	display: flex;
	flex-direction: column;
	/* z-index: 1; */
	width: 100%;
}

.review-container > h3 {
	font-size: 16px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #2d2e2f;
}

.optional-buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5px;
	width: 9rem;
	height: 100px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 1em 1px rgba(0, 0, 0, 0.08),
		0px 5px 1.3em 3px rgba(0, 0, 0, 0.08);
}

.three-dots-optional {
	border: none;
	background: transparent;
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.three-dots-optional:hover {
	background: rgb(230, 230, 230);
	border-radius: 50%;
	height: 60px;
	width: 60px;
	transition: all 0.8s ease;
}

.function-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 4px;
	height: 2rem;
	width: 100%;
	/* z-index: -1; */
}

.function-button:hover {
	transition: all 0.8 ease;
	background: rgb(230, 230, 230);
}
