
.nav_container {
    padding: 0;
    margin: 0, auto;
    height: 570px;
    background-color: #333;
    background-size: cover;
    background-position: 50%;


}

.li-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav_container_homelink {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 33%;

}

.homelink_containter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4em;
    margin-right: 5em;
}

.navLinks {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.title-container {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.app-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    width: 4em;

}

.search-bar-container {
    display: flex;
    height: 2.75rem;
    width: 100%;
    /* background-color: orange; */
    padding: 0;
    /* position: fixed; */
}

    .search-bar-container #search-bar {
        width: 85%;
        height: 2.6rem;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 16px;
        padding-left: .5rem;
    }

    .search-bar-container #search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 2.75rem;
        background-color: rgb(211,35,35);
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .search-bar-container #search-btn:hover {
        background-color: rgb(182, 21, 21);
        transition: all .8s ease;
    }

    #search-btn p {
        font-size: 50px;
        color: white;
        transform: rotate(260deg);

    }

.search-results-container {
    display: flex;
    flex-direction: column;
    margin-right: 4.1rem;
    width: 85.25%;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: orange;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.session_links {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 5em;
}

.login-signup-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 13em;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;


}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
