.nav_container {
    padding: 0;
    margin: 0, auto;
    height: 700px;
    width: 100%;
    background-color: grey;
    background-size: cover;
    background-position: 50%;
    border-bottom: 1px solid rgb(235,235,235);
}

    .nav_container.other {
        padding: 0;
        margin: 0, auto;
        height: 85px;
        width: 100%;
        background-color: #ffffff;
        background-size: cover;
        background-position: 50%;
        border-bottom: 1px solid rgb(235,235,235);
        /* position: fixed; */
    }


.li-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav_container_homelink {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 33%;
}

.homelink_containter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-right: 5em;
}

.nav-links-home {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(250, 250, 250);
    font-size: 24px;
    font-weight: 600;
    height: 2rem;
    text-decoration: none;
}
    .nav-links-home:hover {
        color: rgb(250, 250, 250);
    }

    .nav-links-home.other {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        height: 2rem;
        text-decoration: none;
    }


.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

    .middle-container #lower-middle {
        width: 100%;
        height: 60%;
    }

.search-bar-container {
    display: flex;
    height: 2.75rem;
    width: 100%;
    margin-top: 1.2rem;
    /* background-color: orange; */
    padding: 0;
    /* position: fixed; */
}


.search-bar {
    width: 85%;
    height: 2.6rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 16px;
    padding-left: 1rem;

}
    .search-bar.other {
        width: 85%;
        height: 2.6rem;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: none;
        font-size: 16px;
        padding-left: 1rem;
        box-shadow: -2px 0px 10px 2px rgb(237,237,237);
    }

    .search-bar.live{
        width: 85%;
        height: 2.6rem;
        border-bottom: 1px solid rgb(194, 194, 194);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 0px;
        font-size: 16px;
        padding-left: 1rem;
    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 2.75rem;
        background-color: rgb(223,9,6);
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .search-btn:hover {
        background-color: rgb(236, 31, 31);
        transition: all .6s ease;
    }

    .search-btn.other {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 2.75rem;
        background-color: rgb(223,9,6);
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 2px 0px 10px 2px rgb(229, 229, 229);
    }

    .search-btn.other:hover {
        background-color: rgb(236, 31, 31);
        transition: all .6s ease;
    }

    .search-btn p {
        font-size: 50px;
        color: white;
        transform: rotate(260deg);
        text-decoration: none;

    }

.search-results-container {
    display: flex;
    flex-direction: column;
    /* margin-right: 3.rem; */
    align-items: center;
    width: 85.5%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -2;

    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: -7px 20px 1.3em rgba(0, 0, 0, 0.187), 7px 20px 1.3em rgba(0, 0, 0, 0.187);
}

#search-result {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    width: 92%;
    border-radius: 4px;
    /* padding-left: rem; */
    }

    #search-result:hover {
        background-color: rgb(225, 225, 225);
    }

    #search-img {
        height: 2.1rem;
        width: 2.1rem;
        border-radius: 4px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .search-info-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        /* padding: 0;
        margin: 0; */
    }

        .search-info-container #name{
            color: rgb(84, 84, 84);
            font-size: 15px;
            padding: 1px;
            margin: 1px;
        }

        .search-info-container #address {
            color: rgb(84, 84, 84);
            font-size: 13px;
            padding: 1px;
            margin: 1px;
        }


.session_links {
    display: flex;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 5em;
}

.login-signup-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 13em;

}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.nav-links-login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
    height: 40px;
    color: rgb(250, 250, 250);
    background-color: transparent;
    border: 1px solid rgb(200,201,202);
    border-radius: 5px;
    text-decoration: none;
}

    .nav-links-login:hover {
        width: 90px;
        height: 40px;
        border: 1px solid rgb(200,201,202);
        color: rgb(250, 250, 250);
        background-color: rgba(232, 232, 232, 0.54);
        border-radius: 5px;
        transition: all .6s ease;
    }

    .nav-links-login.other {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        width: 90px;
        height: 40px;
        color: rgb(45,46,47);
        border: 1px solid rgba(200, 201, 202);
        border-radius: 5px;
        text-decoration: none;
    }

    .nav-links-login.other:hover {
        width: 90px;
        height: 40px;
        border: 1px solid rgb(200,201,202);
        background-color: rgb(232, 232, 232);
        border-radius: 5px;
        transition: all .6s ease;
    }

.nav-links-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
    height: 40px;
    color: white;
    background-color: rgb(223,9,6);
    border: 1px solid rgb(223,9,6);
    border-radius: 5px;
    text-decoration: none;
}

    .nav-links-signup:hover {
        width: 90px;
        height: 40px;
        color: white;
        background-color: rgb(236, 31, 31);
        border: 1px solid rgb(236, 31, 31);
        border-radius: 5px;
        transition: all .6s ease;
    }

    /* .nav-links-signup.other {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        width: 90px;
        height: 40px;
        color: white;
        background-color: rgb(223,9,6);
        border: 1px solid rgb(223,9,6);
        border-radius: 5px;
    } */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
